@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,500;1,400&family=Wix+Madefor+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex {
    display: flex;
    /* align-items: center; */
}

a {
    text-decoration: none;
}
.explore {
    color: #005658;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.75rem;
}

body{
   max-width:1900px;
   margin:auto;

}

.grid{
display:grid;
}

/* Navigation Bar */

.navbar {
    background-color: white;
    padding: 40px;
    /* box-shadow: 2px 2px 2px #969696; */
    justify-content: space-between;
    box-shadow: 1px 1px 5px #000;
}

.left-nav-link {
    color: black;
    font-size: 2rem;
    font-weight: 1000;
}

.navbar-right {
    gap: 40px;
    font-size: 1.25rem;
}

.nav-link {
    color: #004354;
}

.nav-link:hover{
    color:#06d0f9
}

/*  Journey title Css */

.journey {
    padding: 40px;
    gap: 20px;
    /* background-color:aquamarine */

}

.journey-left{flex-basis: 20%;
    background-color:rgb(102, 0, 128);
    padding:30px;
    
}

.journey-heading {
    font-family:Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    line-height:80%;
    letter-spacing:0px;
    font-size: 8rem;
    font-weight: 600;
    text-decoration: solid;

}

.journey-right {
    /* background-color:red; */
    flex-basis:80%;   
    align-items: end;
    justify-content: end;
}

/* Article of Travel */

.article{
grid-auto-rows: 300px;
background-size:cover;
padding:200px;
align-items:last baseline;
justify-content: end;
}

.article-quote{
    padding:20px;
    box-shadow: 1px 1px 1px;
    width:700px;
    text-align:justify;
    line-height:42px;
    color:#ffffff;
    text-shadow: 2px 2px 1px black;
    font-size:1.5rem;
    font-family: 'Noto Serif', serif;
    font-weight:100;
}

/* Second Article quote */

.second-article{
    grid-auto-rows: 300px;
    background-size:cover;
    padding:50px 200px;
    align-items:last baseline;
    justify-content: center;
    }

.second-article-quote{
    padding:20px;
    width:700px;
    text-align:justify;
    line-height:35px;
    color:#000000;
    font-size:1.4rem;
    font-weight:10;
    letter-spacing: 4px;
    font-family: 'Noto Serif', serif;
}

.second-article-explore{
    align-items:center;
    justify-content: center;
    margin-bottom: 50px;
}

/* FOOTER */
.footer-container{
    background-color:#fff5e9;
    text-align:center;
}

.footer{
    padding:100px;
    gap:30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:60%;
    margin:auto;
}
.footer-h3{
    font-size:1.75rem;
}
.footer-h1{
    
font-size:5rem;
line-height: 85px;
letter-spacing: 0.1px;
}

.footer-para{
    font-size:1.5rem;
    font-family:"Noto Serif",sans-serif;
    font-weight:10;
}
.find{
    color:white;
    background-color:black;
    padding:20px 40px;
    border-radius: 9px;
    font-size:1.25rem;
}

.find:hover{
    background-color:#004440;
}